rpc:
  # The IP address where this RPC service registers itself; if left blank, it defaults to the internal network IP
  registerIP:
  # autoSetPorts indicates whether to automatically set the ports
  # if you use in kubernetes, set it to false
  autoSetPorts: true
  # List of ports that the RPC service listens on; configuring multiple ports will launch multiple instances. These must match the number of configured prometheus ports
  # It will only take effect when autoSetPorts is set to false.
  ports:

# IP address that the RPC/Socket service listens on; setting to 0.0.0.0 listens on both internal and external IPs. If left blank, it automatically uses the internal network IP
listenIP: 0.0.0.0

longConnSvr:
  # WebSocket listening ports, must match the number of rpc.ports
  ports:
    - 10001
  # Maximum number of WebSocket connections
  socketMaxConnNum: 100000
  # Maximum length of the entire WebSocket message packet
  socketMaxMsgLen: 4096
  # WebSocket connection handshake timeout in seconds
  socketTimeout: 10
